@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins';
  }

/* Home page Styles */

/* Header Styles */
.header {
    margin-top: -170px;
    background-image: url('../images/apple-pie.jpg');
    background-size: cover;
    height: 1260px;
    width: 100vw;
}

.header > h1 {
    padding-top: 570px;
    color: white;
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Intro Section Styles */

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#intro > article {
    padding: 100px 100px 10px 100px;
}

#intro > article > p {
    font-size: 2.7em;
    text-align: left;
}

hr {
    width: 90%;
    margin: 30px auto 30px auto;
    border: 2px solid rgb(124, 124, 124);
}

.img-resize {
    margin-top: 45px;
    height: 100px;
    width: 750px;
}

/* Ingredients Section Styles */

#ingredients {
    padding-left: 100px;
}

#ingredients > article > img{
    display: block;
    margin: 0px auto;
    height: 90px;
    width: 600px;
    padding-right: 150px;
}

ul {
    list-style: none;
    margin-bottom: 50px;
}

h3{
    font-size: 2.6em;
}

ul > li:before {
    content: "-";
    padding-right: 5px;
}

.main-font > li {
    font-size: 2.3em;
}

/* Directions Section Styles */

#directions {
    padding-left: 100px;
}

ol {
    margin-bottom: 50px;
    margin-left: 50px;
    width: 90%;
    padding-bottom: 50px;
    text-align: left;
}

#directions > article > ol > li::marker {
    content: counters(list-item, '.') ') ';
}
