* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/* Home page Styles */

/* Header Styles */
.header {
    margin-top: -150px;
    background-image: url('../images/apple-pie.jpg');
    background-size: cover;
    height: 1270px;
}

.header > h1 {
    padding-top: 570px;
    color: white;
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

/* Intro Section Styles */

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#intro > article {
    padding: 100px 100px 10px 100px;
}

#intro > article > p {
    font-size: 2.7em;
    text-align: left;
}

hr {
    width: 90%;
    margin: 40px auto 60px auto;
    border: 2px solid rgb(124, 124, 124);
}

#img1-resize {
    margin-top: 45px;
    height: 130px;
    width: 760px;
}

/* Ingredients Section Styles */

#ingredients {
    padding-left: 100px;
}

#ingredients > article > img{
    display: block;
    margin: 0px auto;
    padding-right: 150px;
}

ul {
    list-style: none;
    margin-bottom: 50px;
}

.headerstyle > h2{
    font-size: 2.6em;
    margin-bottom: 20px;
}

ul > li:before {
    content: "- ";
    padding-left: 15px;
}

.main-font > li {
    font-size: 2.3em;
}

#img2-resize {
    margin-top: 60px;
    height: 130px;
    width: 700px;
}

/* Directions Section Styles */

#directions {
    padding-left: 100px;
}

#directions > article > ol{
    padding-bottom: 75px;
}

#directions > article > ol > li{
    text-align:left;
}

ol {
    margin-bottom: 50px;
    width: 93%;
    list-style-position:inside;
}

ol > li {
    padding-left: 15px;
}

#directions > article > ol > li::marker {
    content: counters(list-item, '.') ') ';
}
